<template>
	<b-row>
		<b-col
			class="py-4"
		>
			<b-container>
				<b-row>
					<b-col
						cols="12"
						class="px-0"
					>
						<a
							:href="image.src"
							target="_blank"
						>
							<b-img
								:src="image.src"
								fluid
								center
								:alt="image.name"
							></b-img>
						</a>
					</b-col>
					<b-col
						cols="12"
						class="background-orange py-3"
					>
						<a
							:href="image.src"
							target="_blank"
							class="font-white"
						>
							<span
								class="break-all"
							>{{image.name}}</span>
						</a>
						<span
							class="font-white nowrap"
						>
							({{image.width}} x {{image.height}})
						</span>
					</b-col>
				</b-row>
			</b-container>
		</b-col>
	</b-row>
</template>

<script>
export default {
	name: 'ImageComponent',
	props: [
		'image'
	]
}
</script>

<style scoped>
	.background-orange{
		background-color: #FF8500;
		text-align: center;
	}

	.background-orange a span{
        font-weight: 500;
        font-size: 13px;
    }

	.background-orange a span{
        font-weight: normal;
        font-size: 14px;
    }
	.background-orange span{
        font-weight: 200;
        font-size: 14px;
    }

	.background-orange .font-white{color: #fff;}

	.break-all{word-break: break-all;}
	.nowrap{white-space: nowrap;}
</style>
