<template>
    <b-navbar
        toggleable="lg"
        type="dark"
        variant="dark"
        :sticky="true"
    >
        <b-navbar-brand>
            <img
                src="https://tools.the-8agency.com/apple/bookmarklets/img/header_logo_v2.png"
                alt="The8Agency"
                width="151px"
            >
        </b-navbar-brand>
        <span
            class="navbar-title"
        >
            Image in all sizes
            <b-button
                class="button-download"
                variant="outline-primary"
                @click="download_btn"
            >
                <b-icon
                    class="icon-download"
                    icon="download"
                ></b-icon>
            </b-button>
        </span>
        <div
            class="navbar-apple"
        >
            <b-img
                src="https://tools.the-8agency.com/apple/bookmarklets/img/apple_logo.png"
                alt="The8Agency"
                width="20px"
                right
                class="logo"
            ></b-img>
        </div>
    </b-navbar>
</template>

<script>
    import JSZip from 'jszip';
    import JSZipUtils from 'jszip-utils';
    import { saveAs } from 'file-saver';

    export default {
        props: [
            'images'
        ],
        methods: {
            urlToPromise(url) {
                return new Promise(function(resolve, reject) {
                    JSZipUtils.getBinaryContent(url, function (err, data) {
                        if(err) {
                            reject(err);
                        } else {
                            resolve(data);
                        }
                    });
                });
            },
            download_btn() {
                var zip = new JSZip()

                for (let i = 0; i < this.images.length; i++) {
                    let filename = this.images[i].name;
                    let url = this.images[i].src;

                    zip.file(filename, this.urlToPromise(url), {binary:true});
                }

                zip.generateAsync({
                    type: "blob"
                }).then(function(content) {
                    saveAs(content, "images.zip")
                })
            }
        }
    }
</script>

<style scoped>
    .navbar{
        background-color: #0044FF !important;
        padding: 5px 1rem;
        justify-content: space-between;
    }

    .navbar-brand{
        margin-right: 0;
    }

    .navbar-title{
        color: #fff;
        font-weight: 600;
    }

    .navbar-title .button-download{
        border: 0;
        color: #fff;
    }

    .navbar-title .button-download .icon-download{
        font-size: 20px;
    }

    .navbar-apple{
        width: 151px;
    }

    .navbar-apple .logo{
        margin: 0 20px;
    }

    @media only screen and (max-width: 734px){
        .navbar-title{
            display: none;
        }
        .navbar-apple{
            width: unset;
        }
    }
</style>
