<template>
	<div
		class="container-app"
	>
		<navbar-component
			:images="imagesFilter"
		></navbar-component>

		<b-container fluid>
			<template
				v-if="images.length != 0"
			>	
				<image-component
					v-for="(image, key) in imagesFilter"
					:image="image"
					:key="key"
				></image-component>
			</template>
		</b-container>
	</div>
</template>

<script>
	import ImageComponent from './components/imageComponent';
	import NavbarComponent from './components/navbarComponent';

	export default {
		data: function () {
			return {
				images: [],
				imagesFilter: [],
				sizes: ['_largetall_2x.', '_largetall.', '_mediumtall_2x.', '_mediumtall.', '_xlarge_2x.', '_xlarge.', '_large_2x.', '_large.', '_medium_2x.', '_medium.', '_small_2x.', '_small.'],
				regexSizes: /_largetall_2x\.|_largetall\.|_mediumtall_2x\.|_mediumtall\.|_xlarge_2x\.|_xlarge\.|_large_2x\.|_large\.|_medium_2x\.|_medium\.|_small_2x\.|_small\./g,
				regexName: /(?:.(?!\/))+(\.jpg$|\.png$)/g,
				regexFolder: /.*\//g,
				openImage: '',
			}
		},
		components: {
			ImageComponent,
			NavbarComponent
		},
		methods: {
			async getImage(url){
				return new Promise(function(resolve, reject){
					var img = new Image()
					let nRegex = /(?:.(?!\/))+(\.jpg$|\.png$)/g;
					let name = nRegex.exec(url)[0];
					name = name.replace("/", "");

					img.onload = function(){
						resolve({
							'src': this.src,
							'name': name,
							'width': this.width,
							'height': this.height,
							'id': 0,
						});
					}
					img.onerror = function(){
						reject(url)
					}

					img.src = url
				})
			}
		},
		mounted() {
			let imgElement = document.getElementsByTagName("img");
			this.openImage = imgElement[0].src;

			let name, folder;
			let imgList = [];

			name = this.regexName.exec(this.openImage)[0];
			name = name.replace("/", "");
			folder = this.regexFolder.exec(this.openImage)[0];

			for (let i = 0; i < this.sizes.length; i++) {
				let url = folder + name.replace(this.regexSizes, this.sizes[i]);

				this.getImage(url).then(function(successUrl){
					imgList.push(successUrl);
				}).catch(function(errorUrl){
					console.log('image ' + errorUrl + ' not found.');
				})
			}

			this.images = imgList;
			document.body.removeChild(imgElement[0]);
		},
		watch:{
			images: function(val){
				if (val) {
					let count = 1;
					let auxArray = [];
					for (let y = 0; y < this.sizes.length; y++) {
						for (let x = 0; x < val.length; x++) {
							if (val[x].name.includes(this.sizes[y])) {
								val[x].id = count++;
								auxArray.push(val[x]);
								break;
							}
						}
					}
					this.imagesFilter = auxArray;
				}
			}
		}
	};
</script>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	body{
		background-color: #cacaca !important;
		font-family: 'Montserrat', sans-serif;
	}

	.container-app{
		position: relative !important;
		width: 100%;
	}
	
</style>
